*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  background-color: #f56;
  flex-direction: column;
}
.App header {
  flex-direction: column;
  text-align: center;
  background-color: rgba(234, 225, 225, 0.36);
  padding: .5em;
}
.App .main {

  background-color: #ddd;
}

.ReposwitoryCard{
  border:1px solid #f56;

}